.banner-container {
  display: flex;
  background-color: #3f0baf;
  height: 260px;
  color: white;
  justify-content: center;
  div {
    flex-basis: 70%;
    .ant-carousel {
      width: 100%;
      height: 100%;
    }
  }
}
